* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(167, 165, 165);
}

.box {
	width: 100%;
	text-align: center;
	background-color: rgb(48, 47, 47);
	color: #ccc;
	padding: 0.5rem;
	border-radius: 2rem;
}

.box {
	margin-top: 0.5rem;
}

pre {
	font-family: monospace;
	font-size: 1.2rem;
}
